[Unit]
Description=Automatically run camera script after start
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/python3 /home/timelapse/camera/main.py
WorkingDirectory=/home/timelapse/camera/
StandardOutput=journal
StandardError=journal
Restart=always
User=root

[Install]
WantedBy=multi-user.target
